@import "variables/colours";
@import "variables/mixins";
@import "layout/header";
@import "layout/footer";
@import "layout/section-masters";
@import "layout/section-galleria";
@import "layout/single-master";
@import "pages/front-page";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin-top: 0;
  @include scrollbars;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: $dark;
  font-family: "Times New Roman", Times, serif;
  // font-weight: 500;
}
